openapi: '3.0.0'
info:
  version: 1.0.0
  title: Paperguide Documentation API
title: Paperguide Documentation API
  license:
    name: MIT
servers:
  - url: https://api.paperguide.com/v1
paths:
  /docs:
    get:
      summary: List all documents
      operationId: listDocs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a document
      operationId: createDoc
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /docs/{docId}:
    get:
      summary: Info for a specific document
      operationId: showDocById
      parameters:
        - name: docId
          in: path
          required: true
          description: The id of the document to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces:
    get:
      summary: List all workspaces
      operationId: listWorkspaces
      parameters:
        - name: owner
          in: query
          description: Filter by workspace owner email
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paged array of workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspaces'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Doc:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
    Docs:
      type: array
      items:
        $ref: '#/components/schemas/Doc'
    Workspace:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        owner:
          type: string
    Workspaces:
      type: array
      items:
        $ref: '#/components/schemas/Workspace'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string